@using Microsoft.AspNetCore.Identity
@using CashierControl.Areas.Identity.Data

@inject SignInManager<Cashier> SignInManager
@inject UserManager<Cashier> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-link text-dark" title="Manage">Olá @UserManager.GetUserAsync(User).Result.Name</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-outline-purple">Sair</button>
        </form>
    </li>
}
else
{
        <div class="d-flex align-items-center">
            <li class="nav-item me-2">
                <a class="btn btn-outline-purple-Nav" id="register" asp-area="Identity" asp-page="/Account/Register">Cadastrar</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-purple-Nav" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
        </div>

}
</ul>

<style>
    .btn-outline-purple {
        color: #6f42c1;
        background-color: transparent;
        border-color: #6f42c1;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-outline-purple:hover {
            background-color: #6f42c1;
            color: #ffffff;
        }

    .btn-outline-purple-Nav {
        color: #6f42c1;
        background-color: transparent;
        border-color: #6f42c1;
        transition: background-color 0.3s, color 0.3s;
        border-radius:50px;
    }

        .btn-outline-purple-Nav:hover {
            background-color: #6f42c1;
            color: #ffffff;
        }


</style>
